@import "../../responsive.scss";

.searchBar{
    position: absolute;
    bottom: -10%;
    z-index: 99;
    @include sm{
        bottom: -60%;
        input{
            width: 85vw;
            margin: 0.5rem 0;
        }
    }
}
.type{
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    button{
        background-color: rgba(28, 136, 186,0.6);
        width: 6rem;
        padding: 0.8rem;
        font-size: 1rem;
        font-weight: 520;
        border: none;
        border-radius: 5px 5px 0 0;
        color: white;
        cursor: pointer;
    }
    .active{
        background-color: white;
        color: black;
    }
}
form{
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items:end;
    flex-wrap: wrap;
    padding: 2rem;
    @include sm{
        width: 90%;
        margin: auto;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:0 0.5rem;
    }
    label{
        font-size: 0.8rem;
        font-weight: 500;
        text-transform:uppercase;
    }
    input{
        width:11rem;
        padding: 0.6rem;
        margin-top: 0.5rem;
        font-size: 1rem;
        font-weight: 500;
        border: 1px solid gainsboro;
        border-radius:5px ;
    }
}
form button{
    background-color: #00aeff;
    width: 10rem;
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
form button:hover{
    background-color: #0da4ea;
}